<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Çiçek Sepeti Ürün Sıralama</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <a href="/"><h1 class="display-3">Product Ranking</h1></a>
              <p>Ciceksepeti products are ranked statistically according to points.</p>
              <p><a class="btn btn-primary btn-lg" href="https://github.com/EminMuhammed?tab=repositories" role="button" target="_blank">Github &raquo;</a></p>
              <p><a class="btn btn-primary btn-lg" href="/how" role="button">How Does It Work &raquo;</a></p>
            </div>
        </div>
        <form action="/pred" method="post">
             <div class="form-group row">
                  <div class="col-sm-12">
                      <label for="inputdefault">Site Url</label>
                      <input autocomplete="off" type="text" class="form-control" id="inputdefault" placeholder="example: https://www.ciceksepeti.com/kozmetik-varvar?orderby=7&page=" name = "url">
                      <br>
                      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Start">
                  </div>
             </div>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
